body{
  background: none;
}
.in{
  height:50px;
}
.sidebar-item{
  border: 1px solid rgba(0,0,0,.1);
  border-collapse: collapse;
}
.secondary-nav{
  padding:0px;
}
div#secondary-nav-nav{
  background-color:#f8f9fa;
}
div#dataTable_filter{
  display: inline-flex;
  float: right;
  padding: 5px;
}
div#dataTable_length{
  display:inline-flex;
  padding:5px;
}
.nav-link{
  cursor:pointer;
}
div#dataTable_paginate{
  display: inline-block;
  float: right;
  padding: 5px;

}
div#dataTable_info{
  display: inline-block;
  padding: 5px;
}
a.paginate_button{
    padding-left:5px;
    cursor:pointer;
}
