body{
  background-image: none;
}
.msgdiv{
  width: 100%;
  height: 98%;
}
.msgtittle{
  color: #212529;
  font-size:32px;
}
.people-list {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
  height: 100%;
  overflow-y: scroll;
}
.chat{
  float: left;
  padding: 0px 20px 0px 20px;
  width: 56.5%;
  height: 100%;
  overflow-y: scroll;
  word-wrap: break-word;
}
.msgbox{
  width: 100%;
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
  height: 100%;
  display: inline-flex;
}
.msgtext{
  float: left;
  width: 40%;
}
.msg-search{
  display: inline-block;
  text-align: right;
  width: 60%;
}
.msg-search-input{
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}
h4{
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.people-list-search{
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}
.msg-search-span{
  margin: 0 0 0 -27px;
}
.msg-search-butt{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.chat-hist{
  overflow-y:auto;
  min-height: 89%;
}
.msg-sent{
  overflow: hidden;
  margin: 26px 0 26px;
}
.msg-sent-text{
  float: right;
  width: 48%;
}
.msg-sent-text-p{
  background: #2da030 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 10px 10px 10px 12px;
  width: 95%;
}
.msg-received{
  overflow: hidden;
  margin: 26px 0 26px;
}
.msg-received-text{
  float: left;
  width: 48%;
}
.msg-received-text-p{
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 10px 12px 10px 10px;
  width: 95%;
}
.msg-timedate{
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.msg-write{
  border-top: 1px solid #c4c4c4;
  padding-bottom:5px;
  position: relative;
}
.msg-write-msg{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  padding: 15px;
}
.msg-write-msg-send{
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 2px;
  top: 11px;
  width: 33px;
}
.chat-list{
  height:100%;
}
.msg-chat-box{
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
  cursor:pointer;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear,  height 1s linear, width 2s linear;
}

.msg-chat-box:hover{
  background-color:#e8e8e8
}
.msg-chat-box-active{
  background: #ebebeb;
}
.msg-chat-context{
  overflow: hidden;
  clear: both;
}
.msg-chat-img{
  float: left;
  width: 11%;
}
.msg-chat-little-img{
  max-width: 100%;
}
.msg-chat-text{
  float: left;
  padding: 0 0 0 15px;
  width: 85%;
}
.msg-chat-text h5{
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
  display:inline-flex;
}
.msg-chat-text span{
  font-size: 13px;
  float: right;
  display:inline-flex;
}
.msg-chat-text p{
  font-size: 14px;
  color: #989898;
  margin: auto;
}
html{
  overflow-y: hidden;
}
.content{
  height: 100%;
  max-height: 94%;
}
