<meta charset="UTF-8">
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" /><meta charset='utf-8'>
<meta name='author' content='Jose Antonio Aldaz'>
<meta name='description' content='Canyoueat-it es un buscador hecho por estudiantes de grado superior. Canyouea-it es un buscador de productos para gente con problemas alimenticios.'>
<meta name='theme-color' content='#2da030'>
<meta name='robots' content='index, follow, noodp'/>
<meta name='GoogleBot' content='index, follow, noodp'/>
<meta property='og:description' content='Canyoueat-it es un buscador hecho por estudiantes de grado superior. Canyouea-it es un buscador de productos para gente con problemas alimenticios.'>
<meta property='og:title' content='Can you eat-it?'>
<title>Can you eat-it?</title>
<link rel='canonical' href='https://www.canyoueat-it.com'>
